
#content {
    padding: 10px;
    color: #800000;
    position: absolute;
    left:10px;
    font-family: tahoma;
}

div p {
    background-color: #FAFAD2;
    padding: 10px;
    color: #800000;
    word-wrap: break-word;
    width: 800px;

}

.button {
    background-color:#800000;
    font-size: 20px;
    color:#FAFAD2;
    font-family:Courier;
    border-color:black;

}

a:hover {
    background-color: yellow;
  }

p1{
    position:absolute;
    right:20px;
    padding-bottom: 50px;
    font-family: courier;
}

img {
    display: block;
    margin-left: auto;
    padding: 10px;
}

h1 {
    font-size: 50px;
    font-family: cursive;
    color:gray;
}